<% include partials/_header %>

<hr>
<% for(var i=0; i < courses.length; i++) {%> 
    <div class="col-md-4" >
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <%= courses[i].academy%>  
            </div>
            <img [src]="<%courses[i].image%>" class="card-img-top" style="height:300px">
            <div class="card-body">
                <p><%= courses[i].title + ' - ' + courses[i].description%></p>
                <p><%= 'u$d' + courses[i].price%></p>
                <a [routerLink]="['/products/edit', product.id]" class="btn btn-info btn-block">
                    COMPRAR
                </a>
            </div>
        </div>
    </div>
</hr>
    <% }%>

    <% include partials/_footer %>
